html{
    }
    
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Dancing Script', cursive;
}
.container{
    display:subgrid;
    grid-template-columns: 1fr;
}

.floating-box {
    background-image: url("redrock.jpg");
    background-position:top center;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.toolbar {
    display: inline-block;
    text-align: right;
    width: 100%;
    height: 60px;
    padding: 0px 20px 0px 0px;
    margin:0px 20px 0px 0px;
    background-color: #FFF;
    color: black; 
}

.toolbar h2{
    font-family: 'Montserrat', sans-serif;
    float: left;
    color:black;
    font-size: 15px;
    height: 50px;
    margin: 0px 0px 5px 26px;
    padding:0px 0px 10px 10px;
}

.toolbar img {
    float: right;
    margin: 0px 0px 0px 5px;
    border-radius: 100px;
}

.toolbar h1{

    text-align: left;
    background-color: #FFF;
    font-family: 'Dancing Script', cursive;
    color:black;
    background-color: #FFF;
    padding: 0px 0px 10px 20px;
    margin: 0px 0px 0px 20px; 
    font-size: 45px;
    height: 50px;
}

.toolbar a{
    float: right;
    text-align: right;
    background-color: #FFF;
    font-family: 'Monserrat', sans-serif;
    color: black;
    padding: 2px 0px 5px 0px;
    margin: 0px 0px 20px 0px;
    font-size: 15px;
    height: 15px;
    width: 100%;
    text-decoration: none;
    color: black;
}

.toolbar a:hover{
    color: #FFF;
}

.about-me {
    display: inline-block;
    margin: 0px 0px 50px 0px;
}
.about-me h3{
    background-color: #FFF;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    height: 10px;
    width: 100%;
}

.about-me p{
    background-color: #FFF;
    text-align: left;
    font-family: 'Monserrat', sans-serif;
    font-size: 15px;
    height: auto;
    width: 100%;
    
}

.projects h3{
    background-color: #FFF;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    height: 10px;
    width: 100%;
}

.projects a{
    float: center;
    background-color: #FFF;
    height: auto;
    width: 100%;

}

/* .projects a{
    padding: 0px 20px 0px 0px;
}  */

.contact-me h3{
    background-color: #FFF;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    height: 10px;
    width: 100%;
}

.links a{
margin: 0px 0px 0px 10px;
object-position: center;

}

/* .contact-boxes p{
    background-color: #FFF;
    text-align: center;
    font-family: 'Monserrat', sans-serif;
    font-size: 15px;
    height: auto;
    width: 100%;
} */